.no-padding {
    padding: 0px !important;
}

.p-top {
    padding-top: 50px;
}

.ilike-blue-container {
    @extend .blue, .lighten-4;
}


@media only screen and (max-width: 400px){
    .hide-s{display: none;}
}

@media only screen and (max-width: 400px){
    h5 {
        font-size: 18px;
    }  
}

@media only screen and (min-width: 900px){
    
}

@media only screen and (min-width: 1080px){
    
}